
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ContactDetails</title>
</head>
<body>
    <h1>Form title</h1>

    <p>Information about form</p>

    <a asp-controller="Home" asp-action="BasicDetails">Start Now</a>
</body>
</html>